<div data-role="header">
        <div id="headlogo">
            <img src="images/bbimages/bblogo2.png" />
            <div id="debug">
            </div>
        </div>
        <a id="menubtn" href="#nav-panel" data-icon="barss" data-iconpos="notext" data-shadow="false" data-iconshadow="false" class="ui-nodisc-icon">Menu</a>
        
    </div><!-- /header -->
    <div role="main" class="ui-content jqm-content jqm-fullwidth">

<% _.each(collection, function(model) { %>
        <div class="ui-grid-a">
            <% _.each(model.Booktiplist, function(item) { %>                                             
            
            <div class="boktitel">
            <h2><%= item.title %></h2>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a"><div class="detailimg"><img class="imgbokomslag" src="<%= item.ImgSrc %>" title="<%= item.title %>"/></div></div>
            <div class="ui-block-b">
                <div class="detaildata" >
                    <h4>Författare:</h4><p><%= item.Author %></p>
                    <h4>Boktipsare:</h4><p><%= item.UserName %></p>
                    
                </div>
            </div>  
            <div class="ui-block-a">
                
            </div>
            <div class="ui-block-b">
                <fieldset class="chkvotecont" data-role="controlgroup" data-mini="true">                    
                    <a href="#bokdetail/<%= item.Bookid %>" class="ui-btn ui-shadow ui-corner-all ui-mini ui-btn-inline ui-icon-carat-r ui-btn-icon-right ui-alt-icon ui-nodisc-icon">Läs mer</a>
   
                </fieldset>
            </div>          
        </div><!-- /grid-a -->        
        <div class="ui-body ui-body-a ui-corner-all">
            <%= item.Review %>
        </div>          
        
    </div> 
         
    <a data-rel="back" data-ajax="false" class="backbuttonurl ui-btn ui-shadow ui-corner-all ui-mini ui-btn-inline ui-icon-carat-l ui-btn-icon-left ui-alt-icon ui-nodisc-icon">Tillbaka</a>
    <p>&nbsp;</p>

            <% }); %>
        </div><!-- /grid-a -->

    <% }); %>

        
    </div><!-- /content -->
    <div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel">      

         <div id="usermny">
            <a href="#krypin"><img class="imgbokomslag" src="images/bbimages/avatar/<%=model.avatar %>" /></a>
        </div>
        <ul data-role="listview" >
            <li data-role="list-divider"></li>
            <li><a href="#hem">Startsida</a></li>
            <li><a href="#boktips">Boktips</a></li>
            <li><a href="#katalog">Sök bok</a></li>
            <li><a href="#sagomaskinen">Sagomaskinen</a></li>               
            <li data-role="list-divider"></li>
            <li><a href="#krypin">Krypin</a></li>
            <li><a href="#mybooks">Mina böcker</a></li>
            
            <li data-role="list-divider"></li>
             <% if(model.votedebug == 1 || model.votetime == 1){ %>                    
                <%if (model.votedfortotal ==1){%>
                    <li><a href="#votepagevotedtotal">Röstlista</a></li>  
                <%}else{%>
                    <li><a href="#votepage">Röstlista</a></li>
                <%};%>
            <%};%>
            <li><a href="#login">Logga ut</a></li>   
        </ul>

    </div><!-- /panel -->