<div data-role="header">
        <div id="headlogo">
            <img src="images/bbimages/bblogo2.png" />
            <div id="debug">
            </div>
        </div>
        
        
    </div><!-- /header -->
    <div role="main" class="ui-content jqm-content jqm-fullwidth">
        <h1>Tack för att du skickat in ditt boktips!</h1>
        <p>Ditt boktips syns inte i listan direkt. Boktipset måste bara godkännas först.
        </p>
        <a href="#skrivboktips" class="ui-btn ui-btn-c ui-shadow ui-corner-all">OK!</a>
       
    </div><!-- /content -->
    