<div data-role="header">
        <div id="headlogo">
            <img src="images/bbimages/bblogo2.png" />
            <div id="debug">
            </div>
        </div>
        <a id="menubtn" href="#nav-panel" data-icon="barss" data-iconpos="notext" data-shadow="false" data-iconshadow="false" class="ui-nodisc-icon">Menu</a>
        
    </div><!-- /header -->
    <div role="main" class="ui-content jqm-content jqm-fullwidth">

       <div class="boktitel">
        <h2><%= model.obj.displayname %></h2>
        </div>
        <div class="ui-grid-a">
            <div class="ui-block-a">
                <a href="#popupMenu" data-rel="popup" data-transition="pop"  title="Learn more">
                    <div class="detailimg"><img class="imgbokomslag" src="images/bbimages/avatar/<%= model.obj.avatar %>" /></div></a>                               
                </div>
            <div class="ui-block-b">                   
            </div>
            
            <div class="ui-block-a">
                <a href="#popupMenu" data-rel="popup" data-transition="flip" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-gear ui-btn-icon-left ui-btn-a">Meny</a>
                <div data-role="popup" id="popupMenu" data-theme="b">
                    <ul data-role="listview" data-inset="true" style="min-width:210px;">
                        <li data-role="list-divider">Välj</li>
                        <li><a href="#krypinedit">Ändra uppgifter</a></li>
                        <li><a href="#krypinavatar">Byt avatar</a></li>
                        <li><a href="#krypinpresentation">Presentation</a></li>
                        <li><a href="#mybooks">Mina Böcker</a></li>
                        <li><a href="#login">Logga ut</a></li>
                    </ul>
                </div>
                 
            </div>
            <div class="ui-block-b">
                <a href="#popupCloseRight" data-rel="popup" data-transition="flip"  class="ui-btn ui-corner-all ui-shadow ui-btn-inline ">Meddelanden</a>
                <div data-role="popup" id="popupCloseRight" class="ui-content" style="max-width:280px">
                    <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Stäng</a>
                     <% if(model.obj.systemmess){ %>
                        <p><%= model.obj.systemmess %></p>
                    <%}else{%>                    
                        <p>Det finns inga meddelanden.</p>
                    <%};%>
                </div>             
            </div>
        </div><!-- /grid-a -->

        <div class="detailchk">
            
        </div>
       
        <div class="ui-corner-all custom-corners">
            <div class="ui-bar ui-bar-a">
                <h3>Presentation</h3>
            </div>
            <div class="ui-body ui-body-a">
                <%= model.obj.presentation %></div>
        </div>
        
         <div id="userinfobox">
            <h4>Mina uppgifter</h4>
            <div class="ui-body ui-body-a ui-corner-all"> 
                <div id="username" >   
                    <span class="formlabel">Användarnamn: </span> <%= model.obj.username %>
                </div>                        
                <div id="fornamn" >   
                    <span class="formlabel">Förnamn: </span> <%= model.obj.fornamn %>
                </div>
                <div id="efternamn" >   
                    <span class="formlabel">Efternamn: </span> <%= model.obj.efternamn %>
                </div>
                <div id="adress" >   
                    <span class="formlabel">Adress: </span> <%= model.obj.adress %>
                </div>
                <div id="postnr" >   
                    <span class="formlabel">Postnr: </span> <%= model.obj.postnr %>
                </div>
                <div id="ort" >   
                    <span class="formlabel">Ort: </span> <%= model.obj.ort %>
                </div>
                <div id="epost" >   
                    <span class="formlabel">E-post: </span> <%= model.obj.epost %>
                </div>
            </div>
        </div>   


        <div class="alsoreadbox" style="display:none;">
            <h4>Läser just nu</h4>
            <div class="ui-body ui-body-a ui-corner-all">         
                    <img  src="" style="max-width:140px;" />            
            </div>
        </div> 
               
     <p>&nbsp;</p>
    </div><!-- /content -->
    <div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel">      
               
        <div id="usermny">
            <a href="#krypin"><img class="imgbokomslag" src="images/bbimages/avatar/<%=model.menu.avatar %>" /></a>
        </div>
        <ul data-role="listview" >
            <li data-role="list-divider"></li>
            <li><a href="#hem">Startsida</a></li>
            <li><a href="#boktips">Boktips</a></li>
            <li><a href="#katalog">Sök bok</a></li>
            <li><a href="#sagomaskinen">Sagomaskinen</a></li>               
            <li data-role="list-divider"></li>
            <li><a href="#krypin">Krypin</a></li>
            <li><a href="#mybooks">Mina böcker</a></li>
            
            <li data-role="list-divider"></li>
               
            <% if(model.menu.votedebug == 1 || model.menu.votetime == 1){ %>                 
                <%if (model.menu.votedfortotal ==1){%>
                    <li><a href="#votepagevotedtotal">Röstlista</a></li>  
                <%}else{%>
                    <li><a href="#votepage">Röstlista</a></li>
                <%};%>
            <%};%>
            <li><a href="#login">Logga ut</a></li>   
        </ul>
    
    </div><!-- /panel -->