<div data-role="header">
        <div id="headlogo">
            <img src="images/bbimages/bblogo2.png" />
            <div id="debug">
            </div>
        </div>
        <a id="menubtn" href="#nav-panel" data-icon="barss" data-iconpos="notext" data-shadow="false" data-iconshadow="false" class="ui-nodisc-icon">Menu</a>
        
    </div><!-- /header -->
    <div role="main" class="ui-content jqm-content jqm-fullwidth">

       <div class="boktitel">
        <h2><%= model.obj.displayname %></h2>
        </div>
        <div id="Message"> </div>
        <div id="logincont">
				<div data-role="fieldcontain">
                    <label for="visningsnamn">Visningsnamn</label>
					<input type="text" name="visningsnamn" id="visningsnamn" value="<%= model.obj.displayname %>" placeholder="Visningsnamn" />
				</div>
                <div data-role="fieldcontain">
                    <label for="fornamn">Förnamn</label>
					<input type="text" name="fornamn" id="fornamn" value="<%= model.obj.fornamn %>" placeholder="Förnamn" />
				</div>
				<div data-role="fieldcontain">
                    <label for="fornamn">Efternamn</label>
					<input type="text" name="efternamn" id="efternamn" value="<%= model.obj.efternamn %>" placeholder="Efternamn" />
				</div>
                <div data-role="fieldcontain">
                    <label for="adress">Adress</label>
					<input type="text" name="adress" id="adress" value="<%= model.obj.adress %>" placeholder="Adress" />
				</div>
                <div data-role="fieldcontain">
                    <label for="postnr">Postnr</label>
					<input type="text" name="postnr" id="postnr" value="<%= model.obj.postnr %>" placeholder="Postnr" />
				</div>
                <div data-role="fieldcontain">
                    <label for="ort">Ort</label>
					<input type="text" name="ort" id="ort" value="<%= model.obj.ort %>" placeholder="Ort" />
				</div>
                <div data-role="fieldcontain">
                    <label for="skola">Ålder</label>
					<input type="text" name="alder" id="alder" value="<%= model.obj.alder %>" placeholder="Ålder" />
				</div>	
			    <div data-role="fieldcontain">
                    <label for="skola">Skola</label>
					<input type="text" name="skola" id="skola" value="<%= model.obj.skola %>" placeholder="Skola" />
				</div>	
                <div data-role="fieldcontain">
                    <label for="epost">E-post</label>
					<input type="text" name="epost" id="epost" value="<%= model.obj.epost %>" placeholder="E-post" />
				</div>	
				<fieldset class="ui-grid-a">
					<div class="ui-block-a">
						<button type="button" id="Submitedit" data-theme="a">
							Spara
						</button>
					</div>
					<div class="ui-block-b">
						<button type="reset" class="backbuttonurl" id="ResetUserlogin" data-theme="a">
							Avbryt
						</button>
					</div>
				</fieldset>				
			</div>
        <a data-rel="back" data-ajax="false" class="backbuttonurl ui-btn ui-shadow ui-corner-all ui-mini ui-btn-inline ui-icon-carat-l ui-btn-icon-left ui-alt-icon ui-nodisc-icon">Tillbaka</a>
        
     <p>&nbsp;</p>
    </div><!-- /content -->
    <div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel">      

          <div id="usermny">
            <a href="#krypin"><img class="imgbokomslag" src="images/bbimages/avatar/<%=model.menu.avatar %>" /></a>
        </div>
        <ul data-role="listview" >
            <li data-role="list-divider"></li>
            <li><a href="#hem">Startsida</a></li>
            <li><a href="#boktips">Boktips</a></li>
            <li><a href="#katalog">Sök bok</a></li>
            <li><a href="#sagomaskinen">Sagomaskinen</a></li>               
            <li data-role="list-divider"></li>
            <li><a href="#krypin">Krypin</a></li>
            <li><a href="#mybooks">Mina böcker</a></li>
            
            <li data-role="list-divider"></li>
              <% if(model.votedebug == 1 || model.votetime == 1){ %>                     
                <%if (model.votedfortotal ==1){%>
                    <li><a href="#votepagevotedtotal">Röstlista</a></li>  
                <%}else{%>
                    <li><a href="#votepage">Röstlista</a></li>
                <%};%>
            <%};%>
            <li><a href="#login">Logga ut</a></li>   
        </ul>
    
    </div><!-- /panel -->