<div data-role="header">
        <div id="headlogo">
            <img src="images/bbimages/bblogo2.png" />
            <div id="debug">
            </div>
        </div>        
        
    </div><!-- /header -->
    <div role="main" class="ui-content jqm-content jqm-fullwidth">                     
        <div class="boktitel">
        <h2>Maskinsaga</h2>
        </div>         
            <div id="txtsagan"><p>Det var en gång en <%= adjektiv %> <%=substantiv1%> som var ute för att <%=verb%> i skogen.  
                Plötsligt hördes ett morrande i buskarna och ett <%=substantiv2%> hoppade fram och skrämdes!</p>
            <p> - Jag är det farligaste <%=substantiv2%> som finns! skrek det och viftade med en <%=substantiv3%>".</p>
            <p> Och som alla vet så är en <%=substantiv1%> alltid väldigt rädd av sig så den flög upp i närmsta träd för att gömma sig. 
                När faran var över klättrade den ner igen och såg sig ängsligt om. Inget <%=substantiv2%> i sikte. 
                Då fortsatte den med att i frid och ro <%=verb%>.</p>
             </div>
        <a href="#sagomaskinen1" data-rel="back" data-ajax="false" class=" ui-btn ui-shadow ui-corner-all ui-mini ui-btn-inline ui-icon-carat-l ui-btn-icon-left ui-alt-icon ui-nodisc-icon">Tillbaka</a>
        
        <p>&nbsp;</p>
    </div><!-- /content -->
<div data-role="footer" data-position="fixed">
    <div data-role="navbar" data-iconpos="left">
        <ul>
            <li><a id="delasaga" data-icon="mail">Dela saga</a></li>            
            <li></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->
    