<div data-role="header">
        <div id="headlogo">
            <img src="images/bbimages/bblogo2.png" />
            <div id="debug">
            </div>
        </div>        
        
    </div><!-- /header -->
    <div role="main" class="ui-content jqm-content jqm-fullwidth">                     
        <div class="boktitel">
        <h2>Maskinsaga</h2>
        </div>         
            <div id="txtsagan">
                <p>En gång för länge länge sedan i landet <%= ord1 %> bodde en <%= ord2 %> som hette <%= ord8 %>.
                Det var en väldigt <%= ord3 %> <%= ord2 %> som ofta hade <%= ord4 %> på sig.</p>
                <p>I landet <%= ord1 %> bodde även ett elakt <%= ord5 %> som hette <%= ord6 %>.</p>
                <p>Detta <%= ord5 %> var så <%= ord7 %> att ingen vågade gå ut i landet <%= ord1 %>.
                Då fick den väldigt <%= ord3 %>a <%= ord2 %>en i uppdrag att skrämma det elaka <%= ord5 %>et så att det skulle flytta till ett annat land.<br />
                Sagt och gjort så gick <%= ord2 %>en ut på uppdraget.</p>
                <p>När <%= ord2 %>en kom fram för att skrämmas så var <%= ord6 %> ute för att handla.<br />
                Vilken tur, tänkte <%= ord8 %>. Jag kan i lugn och ro genomföra min luriga plan. <br />
                <%= ord2 %>en <%= ord8 %> visste att elaka <%= ord5 %> är rysligt rädda just för <%= ord5 %>. Så om man sätter upp en spegel så att <%= ord5 %>et ser sig själv blir den jätterödd.</p>
                <p><%= ord8 %> gjorde som tänkt och satte upp en spegel innanför det elaka <%= ord5 %>et <%= ord6 %>s dörr och sedan väntade <%= ord8 %> tills det elaka <%= ord5 %>et <%= ord6 %> hade handlat färdigt.</p>
                <p><%= ord6 %> som hade handlat <%= ord9 %> var nu på väg hem och efter att ha skrämt flera av landet <%= ord1 %>s invånare på sin väg, så var <%= ord6 %> äntligen hemma.
                Men gissa om <%= ord6 %> blev förvånad när spegelbilden av ett elakt <%= ord5 %> visade sig innanför dörren.<br />
                <%= ord6 %> blev fruktansvärt rädd!!! <br />Ja att ett så elakt <%= ord5 %> kunde bli så otroligt rädd hade man aldrig någonsin skådat i landet <%= ord1 %>. 
                <%= ord6 %> blev livrädd och sprang med ilfart ifrån landet <%= ord1 %> och sprang och sprang och springer nog fortfarande.<br />
                Snipp snapp snut så var sagan slut! </p>
             </div>
        <a href="#sagomaskinen2" data-rel="back" data-ajax="false" class=" ui-btn ui-shadow ui-corner-all ui-mini ui-btn-inline ui-icon-carat-l ui-btn-icon-left ui-alt-icon ui-nodisc-icon">Tillbaka</a>
        
        <p>&nbsp;</p>
    </div><!-- /content -->
<div data-role="footer" data-position="fixed">
    <div data-role="navbar" data-iconpos="left">
        <ul>
            <li><a id="delasaga" data-icon="mail">Dela saga</a></li>            
            <li></li>
        </ul>
    </div><!-- /navbar -->
</div><!-- /footer -->
    