<div data-role="header">
        <div id="headlogo">
            <img src="images/bbimages/bblogo2.png" />
            <div id="debug">
            </div>
        </div>
       
</div><!-- /header -->
<div role="main" class="ui-content jqm-content jqm-fullwidth">
              
    <div class="ui-body ui-body-a ui-corner-all">  
        <span id="iconimg"><img src="images/bbimages/barnicon114x114.png" /></span>    
        <h1 >Barnensmobilapp</h1> 
        
        <p>I "<strong>Barnens Mobilapp"</strong> &nbsp;kan du till exempel..</p>
        <ul>
        <li>Se dom senaste boktipsen</li>
        <li>Leta i&nbsp;Barnbokskatalogen (hela katalogen numera dvs böcker från 2003 och framåt)</li>
        <li>Lyssna på&nbsp; den senaste "Bokpuffen"</li>
        <li>Göra "maskinsagor" och dela dom med dina vänner</li>
        <li>Ha koll på vad som händer på Barnens bibliotek</li>         
        <li>Spara intressanta böcker i&nbsp;Mina böcker</li>
        <li>Läsa och skriva boktips.</li>
    </ul>
    
    <p>Appen är så klart gratis och finns både för Iphone och Android-telefoner!</p>
    </div> 
    
    <a data-rel="back" data-ajax="false" class="backbuttonurl ui-btn ui-shadow ui-corner-all ui-mini ui-btn-inline ui-icon-carat-l ui-btn-icon-left ui-alt-icon ui-nodisc-icon">Tillbaka</a>
                
</div><!-- /content -->


   
