<div data-role="header">
        <div id="headlogo">
            <img src="images/bbimages/bblogo2.png" />
            <div id="debug">
            </div>
        </div>
       
</div><!-- /header -->
<div role="main" class="ui-content jqm-content jqm-fullwidth">
              
    <div class="ui-body ui-body-a ui-corner-all">  
        <span id="iconimg"><img src="images/bbimages/barnicon114x114.png" /></span>    
        <h1 >Du har ingen uppkoppling!</h1> 
           
    <a href="#reconnect" data-rel="back" data-ajax="false" class="ui-btn ui-shadow ui-corner-all ui-mini ui-btn-inline ui-icon-carat-l ui-btn-icon-left ui-alt-icon ui-nodisc-icon">Försök igen!</a>
    </div>            
</div><!-- /content -->  
