$bgrgb_vit: #fff;
$bgrgb_brun: #a28e5c;
$bgrgb_ljusgra: #e6e7e8;
$bgrgb_lila: #f29100;
$bgrgb_orange: #f29100;
$bgrgb_gron: #8dc641;
$bgrgb_ljusrosa: #efbbbb;
$bgrgb_morkgra: #373535;
$bgrgb_gul:#ffef42;
$bgrgb_ljusbla: #dee2f2;
$bgrgb_ljuslila: #e7cef6;

$sidhuvud-primarycolor: #123412;
$secondcontentbox-primarycolor: #123412;
$maincontentbox-primarycolor: #123412;

$mainappBackgroundcolor: #fff;

$mainGreen: #c0e38a;
$mainDarkGreen:#94b964;
$darkgreen:#83a852;
$mainGrey:#e9eaeb;
$mainlightGreen:#fff; //#e0eecf;

$backgroundLightBlue: #c0c7e3;

$Navbordercolor: #000000;
$Navbackgroundcolor:#cfe1ea;
$Navbordercolor: #000;
$Navdividercolor:#eee;

$headerbackground:$bgrgb_ljusbla;

$defaultTextboxbg: #ccc; //#e0eecf;
$defaultbordercolor:#ddd; //#83a852;
$defaultdarkbordercolor:#ddd; //#78a73a;

$defaultbuttonbgcoloractive:#ddd; // #adcb86;
$defaultbuttonbgcolor:#ccc; // #d7ebbd;
$defaultbuttonbgcolorHover:#f7f7f7; //#e0eecf;

$fontcolorlight:#333;
$fontcolordark:#666;
$AjCustomlistheader:#ddd;
$AjCustomlistitem:#eee;
$AjCustomlistitemHover:#f7f7f7;